<%- include('../partials/header') %>


<br><br><br><br><br><br><br><h2><%= book.Title%></h2><br>

<h2><%= book.Author%></h2><br>

<hr>

<h3><%= book.Group%></h3><br>

<h3>Rating: <%= book.Rating%>/5</h3><br>


<div id='commentDiv'><%= book.note.noteinfo%></div>

<h3><a href="/users/notes/<%= book._id %>">New Comment</a></h3>

</form>


<%- include('../partials/footer') %>