<%- include('../partials/header') %>



 <h1 class="text-primary">Edit Book</h1>


  
  <div id='newbookDiv' style='opacity:0.9'>
  
  <form id ='addbook' action="../a?_method=PUT" method="POST">

    <label>Title:
        <input type="text" name="Title" value="<%= book.Title %>">
      </label>
      
      
      <label>Author:
        <input type="text" name="Author" value="<%= book.Author %>">
      </label>
    
    <label>Shelf:
      <select name="Group" value="<%= book.Group %>">
        <option value="Favorite">Favorite</option>
        <option value="To Read">To Read</option>
        <option value="Read">Read</option> 
      </select>
    </label><br><br>
    
    <label>Rating:
      <select name="Rating" value="<%= book.Rating %>">
        <option value=""></option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option> 
        <option value="4">4</option> 
        <option value="5">5</option> 
      </select>
    </label><br>
    
    
    <input type="submit" value="Update Book">
  </form>

</div>

  <%- include('../partials/footer') %>