<%- include('../partials/header') %>
    

<h1 class="text-primary">Your Library</h1>
<p style ="text-align:center;"  class="text-primary"><%=user.library.length%> Books</p>

<!-- <div id='sortby'>
<label>Sort By:
  <select name="Sort By">
    <option value="Title">Title</option>
    <option value="Author">Author</option>
  </select>
</label>
</div> -->


<div class='container'>

<table class="table table-striped table-light">
    <thead>
        
      <tr>
        <th></th>
        <th scope="col">Title</th>
        <th scope="col">Author</th>
        <th scope="col">Shelf</th>
        <th scope="col">Rating</th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
        <% user.library.forEach(function(u){ %>
      <tr>
        
        <td><form id ='deletebook' action="/users/library/<%= u._id %>?_method=DELETE"
          method="POST">
         <button class="btn btn-outline-danger" type="submit">X</button>
       </form></td>
        <td><%= u.Title %></td>
        <td><%= u.Author %></td>
        <td><%= u.Group %></td>
        <td><%= u.Rating %></td>
        <td><form action="/users/edit/<%= u._id %>"><button class="btn btn-outline-primary" type="submit">EDIT</button></form></td>
        <td><form id ='details' action="/users/library/<%= u._id %>">
          <button class="btn btn-outline-dark" type="submit">DETAILS</button>
        </form></td>

      </tr>
      <% }) %>
    </tbody>
  </table>
  
<!-- 
  <%if (user.library.length <= 0) { %>
    <h1 class="text-primary"><%= message %></h1> 
     <% } %> -->

</div>

<%- include('../partials/footer') %>