<%- include('../partials/header') %>
    
<br><br><br>
<div id='numbooks'>Books: <%=user.library.length%></div>

<div id='sortby'>
<label>Sort By:
  <select name="Sort By">
    <option value="Title">Title</option>
    <option value="Author">Author</option>
  </select>
</label>
</div>


<div id='topdiv'>
  <table id='toptable'>
  <thead id='topthead'>
    <th></th>
    <th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
    <th class='u'>Title</th>
    <th class='u'>Author</th>
    <th class='u'>Group</th>
    <th class='u'>Rating</th>
    <th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
    <th></th>
    </thead>
  </table>
</div>



<div id='lib'>
<table id='libtable'>
<thead id='libthead'>
  <th></th>
  <th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
  <th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
  <th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
  <th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
  <th></th>
  
</thead>
<% user.library.forEach(function(u){ %>
  <tr class='books'>
      <td><form id ='deletebook' action="/users/library/<%= u._id %>?_method=DELETE"
         method="POST">
        <button class="btn btn-outline-danger" type="submit">X</button>
      </form></td>
      <td><%= u.Title %></td>
      <td><%= u.Author %></td>
      <td><%= u.Group %></td>
      <td><%= u.Rating %></td>

      <td><form id ='details' action="/users/library/<%= u._id %>">
       <button class="btn btn-outline-light" type="submit">DETAILS</button>
     </form></td>

     <td><a href="/users/library/<%= u._id %>/edit">Edit</a></td>



  </tr>

  

<% }) %>
</table>
</div>

<%- include('../partials/footer') %>