<%- include('../partials/header') %>
    
<h1>Library Page</h1>

<div id='lib'>
<table id='libtable'>
<thead>
  <th></th>
  <th>Title</th>
  <th>Author</th>
  <th>Group</th>
  <!-- <th>Favorite</th> -->
</thead>
<% user.library.forEach(function(u){ %>
  <tr class='books'>
      <td><form id ='deletebook' action="/users/library/<%= u._id %>?_method=DELETE"
         method="POST">
        <button type="submit">X</button>
      </form></td>
      <td><%= u.Title %></td>
      <td><%= u.Author %></td>
      <td><%= u.Group %></td>
      <!-- <td><a href="/users/<%= user._id %>"  id="details">DETAILS</a></td> -->
  </tr>
<% }) %>
</table>
</div>

<%- include('../partials/footer') %>