<%- include('../partials/header') %>
    
<h1>Library Page</h1>

<div id='numbooks'>Number of Books: <%=user.library.length%></div>

<div id='sortby'>
<label>Sort By:
  <select name="Sort By">
    <option value="Title">Title</option>
    <option value="Author">Author</option>
  </select>
</label>
</div>

<div id='lib'>
<table id='libtable'>
<thead id='libthead'>
  <th></th>
  <th>Title</th>
  <th>Author</th>
  <th>Group</th>
  <th>Rating</th>
  <th></th>
  <!-- <th>Favorite</th> -->
</thead>
<% user.library.forEach(function(u){ %>
  <tr class='books'>
      <td><form id ='deletebook' action="/users/library/<%= u._id %>?_method=DELETE"
         method="POST">
        <button type="submit">X</button>
      </form></td>
      <td><%= u.Title %></td>
      <td><%= u.Author %></td>
      <td><%= u.Group %></td>
      <td><%= u.Rating %></td>
      <td><a href="/users/library/<%= u._id %>"  id="details">DETAILS</a></td>

  </tr>

  

<% }) %>
</table>
</div>

<%- include('../partials/footer') %>