<%- include('../partials/header') %>

<h2>Note Pad</h2>
 
<% notes.forEach(function(note){ %>
    <div class='fullnote'>
      
      <form action="/users/notepad/<%= note._id %>?_method=DELETE"
           method="POST">
          <button type="submit">X</button>
        </form>
        
        <p><%= note.body %></p>
       
        <p><%= note.date %></p>

        <td><a href="/users/notepad/<%= note._id %>"  id="details">EDIT</a></td>
      </div>
<% }) %>
  </table>
<br><br><br><br><br><br>
  <%if (notes.length <= 0) { %>
    <h1><%= msg%></h1> 
     <% } %>

<%- include('../partials/footer') %>