<%- include('../partials/header') %>



<h2 class="text-primary">Note Pad</h2>
 
<% notes.forEach(function(note){ %>

  <br>

  <div class='fullnote' style='opacity:0.9'>
      
      <form action="/users/notepad/<%= note._id %>?_method=DELETE"
           method="POST">
          <button type="submit">X</button>
        </form>
        
        <h1><%= note.note %></h1>

        <h1><%= msg %></h1>

      </div>
      <br>
      
<% }) %>
  

  
<%if (notes.length <= 0) { %>
    <h1 class="text-primary"><%= msg %></h1> 
     <% } %>

     <form action="/users/notepad" method="POST" autocomplete="off" class="fixed-bottom">
      <textarea id = 'notepadbottom'class="sticky-bottom" name='note' rows="3" cols="5"></textarea>
      <h1><button type="submit" class="btn btn-outline-success">Add Note</button></h1>
    </form>



<%- include('../partials/footer') %>