<%- include('../partials/header') %>

<br><br><br><br><br><br><br>

<h2>Note Pad</h2>
 
<% notes.forEach(function(note){ %>

  <br>
  <div class='fullnote'>
      
      <form action="/users/notepad/<%= note._id %>?_method=DELETE"
           method="POST">
          <button type="submit">X</button>
        </form>
        
        <h1><%= note.body %></h1>
       
        <h1><%= note.date %></h1>

      </div>
      <br>
      
<% }) %>
  
<br><br><br>
  
<%if (notes.length <= 0) { %>
    <h1><%= msg %></h1> 
     <% } %>

     <form action="/users/notepad" method="POST" autocomplete="off">
      <textarea id = 'notepadbottom' name='note' rows="3" cols="5"></textarea>
      <button type="submit">Add Note</button>
    </form>

<%- include('../partials/footer') %>