<%- include('../partials/header') %>


<br><p class='noteheading'><%= book.Author%>, <%= book.Title%></p>
<p class='noteheading'>Notes</p>


<h1>notes: <%= book.note%></h1>


<form id ='addnote' action="/users/notes?_method=PUT" method="POST">
    <label>note:
    <textarea rows="4" cols="5"></textarea>
</label>
<input type="submit" value="Add Note">
</form>

<%- include('../partials/footer') %>